body {
    background-color: #0f1225;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .main { text-align: center; }
    i {font-size: 25px;}
}
@media only screen and (min-width: 600px) {
    .main { font-size: 20px; }
    img {width: 150px; height: 150px;}
    i {font-size: larger;}
}
@media only screen and (min-width: 1080px) {
    .main { font-size: 30px;}
    i { font-size:35px ; }
    h1 {font-size: 55px}
    img {width: 224px; height: 224px;}
}